# **Practical questions**

1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [1]:
def sum_even(numbers):
    return sum(num for num in numbers if num % 2 == 0)
print(sum_even([1, 2, 3, 4, 5, 6]))

12

2. Create a Python function that accepts a string and returns the reverse of that string.

In [2]:
def reverse_string(s):
    return s[::-1]
print(reverse_string("hello"))

olleh

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [3]:
def square_list(numbers):
    return [num ** 2 for num in numbers]
print(square_list([1, 2, 3, 4]))

[1, 4, 9, 16]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [4]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [n for n in range(1, 201) if is_prime(n)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [5]:
class Fibonacci:
    def __init__(self, terms):
        self.a, self.b = 0, 1
        self.terms = terms
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.terms:
            raise StopIteration
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return self.a

fib = Fibonacci(10)
print(list(fib))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [6]:
def powers_of_2(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

print(list(powers_of_2(5)))

[1, 2, 4, 8, 16, 32]

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [13]:
def read_file_simulated():
    # Simulated file content as a list of lines
    simulated_lines = [
        "This is the first line.",
        "Here's the second line.",
        "And this is the third line."
    ]

    for line in simulated_lines:
        yield line  # Yield each line one by one

# Using the generator function
for line in read_file_simulated():
    print(line)

This is the first line.
Here's the second line.
And this is the third line.

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [8]:
tuples_list = [(1, 3), (4, 2), (2, 5)]
sorted_list = sorted(tuples_list, key=lambda x: x[1])
print(sorted_list)

[(4, 2), (1, 3), (2, 5)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [9]:
celsius = [0, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 86.0, 104.0]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [10]:
def remove_vowels(s):
    return ''.join(filter(lambda x: x.lower() not in "aeiou", s))

print(remove_vowels("hello world"))

hll wrld

11) Imagine an accounting routine used in a book shop. It works on a list with sublists

In [11]:
orders = [
    [34587, "Book1", 4, 40.95],
    [98762, "Book2", 3, 20.00],
    [77226, "Book3", 2, 10.50],
    [88112, "Book4", 5, 35.00]
]

result = list(map(lambda x: (x[0], x[2] * x[3] + (10 if x[2] * x[3] < 100 else 0)), orders))
print(result)

[(34587, 163.8), (98762, 70.0), (77226, 31.0), (88112, 175.0)]

Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [12]:
# Sample list of orders: [Order Number, Item, Quantity, Price per Item]
orders = [
    [34587, "Book1", 4, 40.95],
    [98762, "Book2", 3, 20.00],
    [77226, "Book3", 2, 10.50],
    [88112, "Book4", 5, 35.00]
]

# Using lambda and map to compute the order total and apply the condition
processed_orders = list(map(lambda x: (x[0], x[2] * x[3] + (10 if x[2] * x[3] < 100 else 0)), orders))

# Output the result
print(processed_orders)

[(34587, 163.8), (98762, 70.0), (77226, 31.0), (88112, 175.0)]